@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 290px;
  border: 2px solid red;
  margin-bottom: 10px;
  background: transparent;
}

::selection {
  color: #fff;
  background: #6990f2;
}

.wrapper {
  width: 430px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid gray;
  padding: 20px 30px 20px 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 40px;
}

.wrapper h3 {
  color: #9542ed;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #9542ed;
}

.share-wrapper {
  width: 430px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid gray;
  padding: 20px 30px 20px 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 20px;
}

.share-wrapper h3 {
  color: #9542ed;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.share-wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #9542ed;
}

.first-desc {
  color: #9542ed;
  font-size: 16px;
  margin-top: 10px;
}


i {
  font-size: 50px;
  color: #9542ed;
}

.upload-para {
  margin-top: 15px;
  font-size: 16px;
  color: #9542ed;
}

.upload {
  background: transparent;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  width: 100px;
  font-size: 16px;
  color: #9542ed;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin: auto;
}

.currentButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 18px;
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}

.currentButton:last-child {
  margin-right: 0;
}

.button-wrapper button.active {
  background-color: black;
  color: white;
}

.upload-share-container {
  flex-direction: column;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}

/* input[type="file"] {
  display: none;
} */