@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto+Mono:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 290px;
  border: 2px solid red;
  margin-bottom: 10px;
  background: transparent;
}

::selection {
  color: #fff;
  background: #6990f2;
}

.wrapper {
  width: 430px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid gray;
  padding: 20px 30px 20px 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 40px;
}
.wrapper h3 {
  color: #6990f2;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990f2;
}
.share-wrapper {
  width: 430px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid gray;
  padding: 20px 30px 20px 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 20px;
}
.share-wrapper h3 {
  color: #6990f2;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.share-wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990f2;
}
.first-desc {
  color: #6990f2;
  font-size: 16px;
  margin-top: 10px;
}

form :where(i, p) {
  color: #6990f2;
}
form i {
  font-size: 50px;
}
form p {
  margin-top: 15px;
  font-size: 16px;
}

section .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i {
  color: #6990f2;
  font-size: 30px;
}
section .details span {
  font-size: 14px;
}
.upload {
  background: transparent;
  border-color: #08fdd8;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  width: 100px;
  font-size: 16px;
  color: #6990f2;
  cursor: pointer;
}
.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}
.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}
.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress {
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar {
  width: 0px;
}
.uploaded-area .row .content {
  display: flex;
  align-items: center;
}
.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check {
  font-size: 16px;
}


.button-wrapper {
  display :flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.currentButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 18px;
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}
.currentButton:last-child {
  margin-right: 0;
}

.button-wrapper button.active {
  background-color: black;
  color: white;
}