@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  max-width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  height: 89vh;
  background-color: rgba(0, 0, 0, 0.952);
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  margin-top: 130px;
}

.hero-subheading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.hero__description {
  color: #ffffffc6;
  padding: 10px;
  max-width: 45em;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.hero-button {
  background: linear-gradient(89.79deg, rgb(12, 255, 240) 0.18%, rgb(12, 255, 167) 99.9%);
  border: none;
  border-radius: 20px;
  margin-top: 1.5rem;
  padding: 15px 10px;
  width: 20%;
  cursor: pointer;
}

.hero-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-align: center;
}


/* animate-section */
.animate-section {
  background-color: rgba(0, 0, 0, 0.952);
}

.animate-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.animate-para {
  color: #ffffffc6;
  padding: 0.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  max-width: 85vw;
}


/* product-section */
.product-section {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.952);
}

.product-head {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 30px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.product-detail {
  width: 100%;
  max-width: 800px;
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 30px;
}

.my-hr {
  border: none;
  height: 0.2em;
  background-color: #817c7c;
  margin: 2.5%;
}

.Para-1,
.Para-2,
.Para-3 {
  margin-top: 1%;
  margin-left: 2%;
  max-width: 40em;
}

.para1-heading,
.para2-heading,
.para3-heading {
  font-size: 1.6rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: pointer;
}

.para1-detail,
.para2-detail,
.para3-detail {
  font-size: 1.2rem;
  margin-top: 1%;
  color: rgb(199, 195, 195);
  text-align: inherit;
  font-family: 'Nunito', sans-serif;
}

.right-image {
  float: right;
  margin-top: 45px;
  width: 100%;
  max-width: 700px;
}

img {
  width: 100%;
  height: 100%;
}

/* For smaller phone viewpoints */
@media only screen and (min-width: 320px) {
  .right-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

/* For small devices and most phones */
@media only screen and (min-width: 480px) {
  .right-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

/* For most tablets */
@media only screen and (min-width: 768px) {
  .right-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

/* For smaller desktop viewpoints */
@media only screen and (min-width: 992px) {

  .right-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

/* For large devices and wide screens */
@media only screen and (min-width: 1200px) {
  .right-image {
    width: 50%;
  }
}

/* about-section */
.about {
  background-color: rgba(0, 0, 0, 0.952);
}

.about-heading {
  margin-top: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.about-text {
  color: rgba(242, 239, 239, 0.78);
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  margin: auto;
  margin-top: 10px;
  max-width: 80%;
  text-align: center;
}

/* footer-section */
.footer-section {
  background: rgba(0, 0, 0, 0.959);
  margin-top: 60px;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.column1 {
  margin-top: 20px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.column1-heading {
  font-size: 2rem;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

.column1-para {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}

.column2 {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.column2-text {
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Column3 {
  justify-content: center;
  align-items: center;
}

.Column3-text {
  margin-top: 40px;
  padding: 20px;
  font-size: 1.8rem;
  font-family: 'Nunito', sans-serif;
}


.column2-text {
  font-size: 2rem;
}

.Colum3-heading {
  font-size: 2rem;
}

.Column3-text {
  font-size: 1.5rem;
  margin-right: 20px;
}