@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.863);
  padding-top: 10px;
}

.hero-heading {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

.hero-subheading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-top: 5px;
}

.hero__description {
  color: #ffffffc6;
  padding: 0.5rem;
  max-width: 45em;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.service-button {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(89.79deg, rgb(12, 255, 240) 0.18%, rgb(12, 255, 167) 99.9%);
  border-color: #08fdd8;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  width: 366px;
  height: 54px;
  cursor: pointer;
  margin-top: 50px;
}

.service-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

/* about-section */
.about {
  height: 88vh;
  background-color:rgba(0, 0, 0, 0.863);
  padding-top: 5px;
}

.about-heading {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  letter-spacing: 0.5rem;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.about-text {
  color: #f2efefc8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin : auto;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}

.profile-card {
  grid-gap: 25px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

/* footer-section */
.footer-section {
  padding: 5px;
  background: #000;
  height: 25vh;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  color: #fff;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
}
.column1-heading {
  margin-left: 75px;
  font-size: 24px;
}

.column1-para {
  text-align: center;
  font-size: 18px;
  margin-top: 28px;
  color: rgb(113, 112, 112);
}

.column2-text {
  text-align: center;
  font-size: 24px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}

.Colum3-heading {
  margin-left: 130px;
  font-size: 24px;
}

.Column3-text {
  text-align: center;
  font-size: 18px;
  margin-top: 28px;
}
