@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.863);
  padding-top: 10px;
}

.hero-heading {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  letter-spacing: 0.5rem;
  color: #00ffff;
  text-align: center;
  margin-top: 80px;
}

.hero-subheading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.5rem;
  color: #00ffff;
  margin-top: 5px;
}

.hero__description {
  color: #fff;
  padding: 0.5rem;
  max-width: 45em;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  margin: auto;
  margin-top: 50px;
  text-align: justify;
}

.service-button {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(89.79deg, rgb(12, 255, 240) 0.18%, rgb(12, 255, 167) 99.9%);
  border-color: #08fdd8;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  /* width: 20%; */
  width: 366px;
  height: 54px;
  cursor: pointer;
  margin-top: 50px;
}

.service-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

/* about-section */
.about {
  height: 105vh;
  background-color: rgba(3, 2, 2, 0.703);
  padding-top: 5px;
}

.about-heading {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  letter-spacing: 0.5rem;
  color: #00ffff;
  text-align: center;
  margin-top: 20px;
}

.about-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 20px;
  text-align: inherit;
}

.profile-card {
  grid-gap: 25px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

/* footer-section */
.footer-section {
  padding: 5px;
  background: #000;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  color: #fff;
}

.column {
  flex: 1;
  border: 1px solid aqua;
  margin: 10px;
  padding: 10px;
}

.social-icons{
  display: flex;
}
