 @import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .navbar {
   display: flex;
   width: 100vw;
   justify-content: space-between;
   align-items: center;
   height: 75px;
   background-color: transparent;
   color: #fff;
   z-index: 4;
   position: fixed;
   top: 0;
    backdrop-filter: blur(6px);
   }

 .logo {
   font-size: 30px;
   margin-left: 10px;
 }

 .nav-links {
   display: flex;
   justify-content: flex-end;
   list-style: none;
 }

 .item {
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   padding: 10px 20px;
   margin: 0 10px;
   cursor: pointer;
 }

 .item :hover {
   text-decoration: underline;
   text-decoration-color: #00ffff;
   text-decoration-thickness: 3px;
   text-underline-offset: 8px;
 }


 .mobile-menu-icon {
   display: none;
 }

 .nav-links-mobile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: auto;
   text-align: center;
   z-index: 4;
 }

 .connect-btn {
   padding: 0.5rem 1rem;
   background-color: transparent;
   color: #fff;
   border: 2px solid gray;
   border-radius: 20px;
   font-size: 20px;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   margin-right: 10px;
 }

 .connect-btn:hover {
   background-color: #00ffff;
   color: #000;
 }

 .connect-btn span {
   display: inline-block;
   max-width: 180px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin-right: 0.5rem;
 }

 @media screen and (max-width : 768px) {
   .logo {
     display: flex;
     position: absolute;
     top: 15px;
     left: 35px;
   }

   .nav-links {
     display: none;
   }

   .nav-links-mobile {
     position: absolute;
     display: block;
     list-style: none;
     background-color: #200234;
     opacity: 0.9;
     right: 0;
     top: 75px;
     transition: all 0.5s ease;
     width: 25%;
   }

   .nav-links-mobile.active {
     right: 0;
   }

   .item {
     color: #fff;
     text-align: center;
     padding: 32px;
     width: 100%;
     transition: all 0.5s ease;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   }

   .mobile-menu-icon {
     display: block;
     position: absolute;
     font-size: 30px;
     color: #fff;
     background-color: transparent;
     border: none;
     outline: none;
     top: 15px;
     right: 25px;
   }

   .connect-btn {
     margin-bottom: 15px;
   }
 }