 @import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: #fff;
  z-index: 4;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-menu {
  display: none;
}

.navbar-menu.show {
  display: block;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  width: 200px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.navbar-menu li {
  padding: 10px 0;
  list-style: none;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.toggle-line {
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.connect-btn {
  background-color: #007bff;
  font-family: "Baloo Thambi 2", cursive;
  color: #fff;
  border-radius: 15px;
  margin-right: 30px;
  padding: 10px ;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect-btn:hover {
  background-color: #0069d9;
}

@media screen and (min-width: 768px) {
  .navbar-menu {
    display: flex;
    position: static;
    background-color: transparent;
  }
  .navbar-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-menu li {
    padding: 0;
  }
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
  }
  .navbar-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  
  .navbar-menu.show {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navbar-menu li {
    padding: 10px 0;
  }
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
  }
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
  }
  .toggle-line {
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
}
