@import url("https://fonts.googleapis.com/css?family=Montserrat");

.card-container {
  background-color: #000;
  border-radius: 25px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 300px;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}

.card-container h3 {
  margin-top: 10px;
  color : #eeeeee
}

.skills {
  background-color: #000;
  text-align: left;
  padding: 15px;
  margin-top: 10px;
}
