@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto+Mono:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
}


.file-container {
  padding: 25px 30px;
  height: 27vh;
  background-color: rgba(0, 0, 0, 0.863);
  font-size: 25px;
  display: flex;
  align-items: center;
}

.file-container h1{
  color: #08fdd8;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 80px;
  left: 25%;
}

.brief-detail {
  padding: 25px 30px;
  height: 57vh;
  background-color: rgba(0, 0, 0, 0.863);
  font-size: 25px;
  text-align: center;
  color: #08fdd8;
  font-family: 'Roboto Mono', monospace;
}


input[type="file"] {
  display: none;
}
