@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto+Mono:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

.file-container {
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.952);
  font-size: 25px;
}

.file-container h1 {
  color: #08fdd8;
  font-family: "Roboto Mono", monospace;
  text-align : center;
}

.brief-detail {
  padding: 25px 30px;
  height: 57vh;
  background-color: rgba(0, 0, 0, 0.952);
  font-size: 25px;
  text-align: center;
  color: #08fdd8;
  font-family: "Roboto Mono", monospace;
}

input[type="file"] {
  display: none;
}

.blank-container{
  border : none
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}
.search-bar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 700px;
  margin-top : 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.blank-container button{
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 25px;
  margin-left: 685px;
  margin-top: 0%;
  color: #ebeef4;
}

.upload-check-section {
  height: auto;
  background-color: rgba(0, 0, 0, 0.952);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  min-height: auto; 
  justify-content: center;
  padding-bottom: 150px;
  padding-top: 150px;
}



.services-container {
  display: flex;
}

.service-card {
  display: flex;
  flex: 1;
  background-color: #1d1a1a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 26px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circule-img-container {
  width: 60px;
  border-radius: 50%;
  display: flex;
  background-color: #f0f2fd;
  margin: 24px 0px 18px 0px;
}

.circule-img-container img {
  width: 100%;
}

.button-info-container {
  text-decoration: none;
  color: #e17982;
  font-weight: bold;
  padding: 6px 12px;
  background-color: #ffffff;
  border: solid #e17982 1px;
  border-radius: 6px;
}

.button-info-container:hover {
  color: #ffffff;
  background-color: #e17982;
}

.service-margin {
  margin-right: 24px;
}

.button-margin-top {
  margin-top: 16px;
}

@media (max-width: 640px) {
  .services-container {
    flex-direction: column;
  }
  
  .service-margin {
    margin-bottom: 24px;
    margin-right: 0px;
  }
  
  .main-container {
    padding: 0px 24px;
  }
  
  .service-card {
    flex-direction: row;
    padding-right: 26px;
  }
  
  .flex-column {
    align-items: flex-start;
    margin-left: 24px;
    padding-top: 24px;
    text-align: left;
  }
  
  .circule-img-container {
    width: 100px;
    margin-left: 24px;
    background: transparent;
  }
  
}
