@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.Work-heading {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 90px;
    text-align: center;
}

.first-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.first-para {
    font-size: 26px;
    color: #fff;
    line-height: 1.6;
    float: left;
    max-width: 30em;
    margin-left: 40px;
    margin-top: 30px;
}

.image {
    float: right;
}

.second-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.second-para{
    font-size: 26px;
    color: #fff;
    line-height: 1.6;
    float: left;
    max-width: 30em;
    margin-left: 40px;
    margin-top: 30px;
}

.third-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.third-para{
    font-size: 26px;
    color: #fff;
    line-height: 1.6;
    float: left;
    max-width: 30em;
    margin-left: 40px;
    margin-top: 30px;
}

.image-1 img {
    max-width:564px;
    height: 360px;
    margin-left: 146px;
    float: right;
}
.image-2 img {
    max-width:564px;
    height: 360px;
    margin-left: 129px;
    float: right;
}
.image-3 img {
    max-width:564px;
    height: 360px;
    margin-left: 129px;
    float: right;
}