@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body {
    background-color: #000;
}

.Work-heading {
    font-size: 3rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    margin-top: 90px;
    text-align: center;
}

.first-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-para {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    max-width: 30em;
    margin-left: 50px;
    margin-top: 30px;
}

.image-1 {
    margin-top: 30px;
    margin-left: 30px;
}

.image-1 img {
    max-width: 700px;
}

.second-section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    margin-bottom: 20px;
}

.second-para {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    max-width: 30em;
    margin-left: 40px;
    margin-right: 35px;
    margin-top: 30px;
}

.image-2 {
    margin-top: 0px;
    margin-left: 30px;
}

.image-2 img {
    max-width: 500px;
}

.third-section {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 20px;
}

.third-para {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    max-width: 30em;
    margin-left: 40px;
    margin-top: 30px;
}

.image-3 {
    margin-top: 30px;
    margin-left: 30px;
}

.image-3 img {
    max-width: 700px;
}